@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 78px;
}

#password {
    width: 62%;
    height: 46px;
    margin-left: 280px;
    margin-top: 50px;
}

input[type="password"] {
    font-size: 35px;
    border-radius: 6px;
}



/* --- Show / Hide Password --- */
.pw-display-toggle-btn {
    position: absolute;
    right: 322px;
    top: 161px;
    line-height: 20px;
    cursor: pointer;
    font-size: 23px;
}

.pw-display-toggle-btn i.fa-eye-slash {
    display:none;
}

.pw-display-toggle-btn.active i.fa-eye-slash {
    display:block;
}

.pw-display-toggle-btn.active i.fa-eye {
    display:none;
}


/* --- Progress Bar --- */

.pw-strength {
    position: relative;
    width: 72%;
    height: 7px;
    margin-top: 25px;
    margin-left: 205px;
    text-align: center;
    background:#f2f2f2;
    display: none;
}

.pw-strength span:nth-child(1) {
    position: relative;
    font-size: 13px;
    color:#111;
    z-index: 2;
    font-weight: 600;
}

.pw-strength span:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    z-index: 1;
    transition: all 300ms ease-in-out;
}